@charset "UTF-8";

// @import '_reset';
// @import '_csshack';
@import 'variable';
@import './_mixins/_mixin';
// @import './_fonts/_font';
// @import './_animations/_animation';

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900|Noto+Serif+SC:200,300,400,500,600,700,900&display=swap');

html, body {
  // position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $inky-font-serif;
  font-size: 14px;
  color: $inky-black;
  background: $inky-white;
  // overflow: hidden;
}

a {
  position: relative;
  color: $inky-black;
  text-decoration: none;
  // &:after {
  //   content: '';
  //   position: absolute;
  //   bottom: 2px;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 1px;
  //   transform: scaleX(0);
  //   background-color: $inky-black;
  //   transition: transform .2s;
  // }
}
a:hover {
  text-decoration: underline;
  // &:after {
  //   transform: scaleX(1);    
  // }
}

@import "_partials/header";
@import "_partials/container";
@import "_partials/paginator";
@import "_partials/comments";
@import "_partials/footer";
