@import '../variable';

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  padding: 20px 0 50px 0;
  text-align: right;
  color: $inky-black-l15;
  * { margin: 0; padding: 0; }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-right: 36px;
}

footer a, footer a:link {
  color: $inky-black-l15;
  font-weight: 400;
  text-decoration: none;
  // border-bottom: 1px solid $inky-black-l10;
  word-wrap: break-word;
  transition: .2s ease-in-out;
  &:hover, &:active {
    color: $inky-gold;
    // border-bottom-color: $inky-black-l10;
    text-decoration: underline;
  }
}


.copyright {
  font-family: $inky-font-sans;
  font-size: 14px;
  font-weight: 300;
}

.footer-copyright-year {
  display: inline-block;
  margin-right: 3px;
  font-family: $inky-font-sans;
  font-weight: 300;
}

.footer-copyright-within {
  display: inline-block;
  margin: 0 3px;
  font-family: $inky-font-sans;
  font-size: inherit;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    content: "🐺";
  }
}

.powered-by, .theme, .more {
  display: inline-block;
  font-family: $inky-font-sans;
  font-weight: 300;
  a, a:link {
    font-family: inherit;
    padding: 0 5px;
  }
}

.powered-by {
  // margin-right: 10px;
  // &:after {
  //   content: "|";
  //   padding-left: 5px;
  // }
}
