@charset "UTF-8";

@import '../_variable';

.post-content {
	padding: 0 21px;
	font-size: 16px;
	line-height: 2;
	// * {
	//   color: $inky-black;
	// }
	// h1, h2, h3, h4, h5, h6 {
	// 	position: relative;
	// 	// margin: 1em 0;
	// 	font-family: $inky-font-serif;
	// 	font-weight: 700;
	// 	&:before {
	// 		content: "#";
	// 		// font-family: $inky-font-sans;
	// 		color: $inky-coffee-2;
			
	// 		position: absolute;
	// 		left: -0.7em;
	// 		height: 100%;
	// 		vertical-align: middle;
	// 		font-size: 1.2em;
	// 		font-weight: bold;
	// 	}
	// }

	strong {
	  font-weight: 900;
	}

	em {
	  font-style: italic;
	}

	> p, > pre, > figure, > dl {
    margin: 0 0 12px;
  }

	a {
		color: $inky-gold;
		// transition: color .2s;
		&:hover, &:active {
			text-decoration: underline;
		}
	}

	blockquote {
		// margin: 2em 0;
		// padding-left: 20px;
		margin: 18px 0 16px;
    padding-left: 15px;
    position: relative;
    font-style: italic;
		word-wrap: break-word;
		border-left: 3px solid $inky-gold;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		// border: 1px solid $inky-gold;
		border-radius: 3px;
	}

	hr {
		width: 50%;
		margin: 30px auto;
		border: none;
		overflow: visible;
		&:after {
			content: '';
			display: block;
			border-top: 1px solid $inky-line-color;
			margin: 0 3px;
			position: relative;
			top: 1px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 10px;
		font-family: $inky-font-serif;
		font-weight: 700;

		a.header-anchor {
			position: absolute;
			left: -.35em;
			margin-right: 4px;
			text-decoration: none;
			color: $inky-gold;
			transform: scale(0.85);
			opacity: 0.85;
			// transition: opacity .2s ease-in-out;
		}
		&:hover a.header-anchor {
			opacity: 1;
		}
	}

	h1 {
		margin: 21px 0 12px;
		font-size: 32px;
		// font-size: 2em;
	}
	h2 {
		margin: 21px 0 9px;
		font-size: 28px;
		// font-size: 1.5em;
	}
	h3 {
		margin: 18px 0 9px;
		font-size: 24px;
		// font-size: 1.17em;
	}
	h4 {
		margin: 18px 0 7px;
		font-size: 20px;
		// font-size: 1em;
	}
	h5 {
		margin: 15px 0 7px;
		font-size: 16px;
		// font-size: 0.83em;
	}
	h6 {
		margin: 15px 0 4px;
		font-size: 12px;
		// font-size: 0.67em;
	}

	

	// ol, ul {
	// 	box-sizing: border-box;
	// 	margin: 0 21px;
	// 	padding: 0 21px;
	// }

	// ul {
	// 	// list-style: none;
	// }

	> table {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 12px;
		border-collapse: collapse;
		// border: 1px solid $inky-gold;
		// border-radius: 3px;

		thead {
			background: $inky-gold-background;
		}
		thead, tbody {
			th, td {
				padding: 3px 5px;
				// border: 1px solid $inky-gold;
			}
			th {
				color: $inky-gold;
				font-weight: 700;
				border-bottom: 2px solid $inky-gold;
			}
			td {
				border-top: 1px solid $inky-gold;
			}
		}
	}

	

	// .tip {
	// 	position: relative;
	// 	margin: 2em 0;
	// 	padding: 12px 24px 12px 30px;
	// 	border-left: 4px solid #f66;
	// 	border-top-right-radius: 2px;
	// 	border-bottom-right-radius: 2px;
	// 	background-color: $inky-black-l25;
	// 	br {
	// 		display: none;
	// 	}
	// }
	// .tip:before {
	// 	position: absolute;
	// 	top: 14px;
	// 	left: -12px;
	// 	content: "!";
	// 	width: 20px;
	// 	height: 20px;
	// 	border-radius: 100%;
	// 	color: #fff;
	// 	font-size: 14px;
	// 	line-height: 20px;
	// 	font-weight: bold;
	// 	text-align: center;
	// 	background-color: #f66;
	// 	font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	// }

	// ---------------------------------------------------------------
	// Code
	// ---------------------------------------------------------------
	> p > code {
		box-sizing: border-box;
		margin: 0 2px;
		padding: 2px 4px;
		border: 1px solid $inky-gold;
		border-radius: 3px;
		background: $inky-gold-background;
		font-family: $inky-font-code;
		font-size: 0.9em;
		color: $inky-coffee-0;
	}

	> pre {
		box-sizing: border-box;
		// padding: 0 8px;
		padding: 10px;
		border: 1px solid $inky-gold;
		border-radius: 3px;
		background: $inky-gold-background;
		line-height: 1.5;
		
		> code {
			background: transparent;
			font-family: $inky-font-code;
		}
	}

	figure.highlight {
		line-height: 1.5;
		table {
			width: 100%;
			border: 1px solid $inky-gold;
			border-radius: 3px;
			background: $inky-gold-background;
			pre {
				margin: 0;
			}
			td.gutter {
				width: 31px;
				border-right: 1px solid $inky-gold;
				text-align: center;
				pre {
					color: $inky-gold;
				}
			}
			td.code {}
		}
		.hljs {
			background: transparent;
			font-family: $inky-font-code;
			color: $inky-black;
		}
	}

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	mark {
		padding: 0 3px;
		background-color: $inky-gold-mark;
		color: $inky-black;
	}

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	abbr {
		margin: 0 2px;
		padding: 2px 4px;
		border: 1px dashed $inky-gold;
		border-radius: 3px;
		font-size: 0.9em;
		text-decoration: none;
		background: $inky-gold-background;
		cursor: pointer;
	}

	// ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
	dl {
		dt {
			font-weight: 700;
		}
		dd {
			// pre {
			// 	border: 1px solid $inky-gold;
			// 	border-radius: 3px;
			// 	background: $inky-gold-background;
			// }
		}
	}


	// ---------------------------------------------------------------
	// KBD
	// ---------------------------------------------------------------
	kbd {
		display: inline-block;
		margin: 0 1px;
		padding: 1px 4px;
		border: 1px solid $inky-line-color;
		border-radius: 3px;
		background: $inky-white;
		font: 11px $inky-font-code;
		color: $inky-black;
		line-height: 1.4;
		text-shadow: 0 1px 0 $inky-white;
		box-shadow: 0 2px 0 rgba(0,0,0,.2), 0 1px 0 $inky-white inset;
	}
}