//- archive.jade
extends _partials/layout

block site-title
  != __('main.archives') + " · " + config.title

block container
  include mixins
  +archiveList()

block paginator
  .paginator
    include mixins
    +paginator(true)

block footer
  include _partials/_components/footer
