//- category.jade
extends _partials/layout

block container
  .categories
    h2.categories-banner
      a.categories-link(href= config.root + config.category_dir)= __('main.categories')
      span= ` / ${page.category}`
    //- - console.log(page)
    include mixins
    +category()
  
block paginator

block footer
  include _partials/_components/footer
