@charset "UTF-8";
/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900|Noto+Serif+SC:200,300,400,500,600,700,900&display=swap");
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

/* 圆角
 --------------------------------------------------*/
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "源流明體", "GenRyuMin TW", "源流明體 TTF", Noto Serif TC, Noto Serif SC, serif;
  font-size: 14px;
  color: #0A0A0A;
  background: #FFFFFF; }

a {
  position: relative;
  color: #0A0A0A;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

/* 圆角
 --------------------------------------------------*/
/* Font
 --------------------------------------------------*/
header * {
  margin: 0;
  padding: 0; }

header ol, header ul {
  list-style: none;
  padding: 0; }

@media screen and (min-width: 732px) {
  header {
    position: fixed;
    top: 0;
    height: calc(100vh - 111px);
    width: calc((100vw - 800px) / 2);
    padding-top: 10px;
    text-align: right;
    font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column; } }

ul.nav.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around; }

li.nav-list-item {
  position: relative;
  width: 100%;
  background: transparent; }
  li.nav-list-item a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    padding-right: 36px;
    font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
    font-size: 20px;
    font-weight: 700;
    color: #0A0A0A;
    line-height: 48px;
    text-align: right;
    text-decoration: none;
    overflow: hidden;
    z-index: 999; }
    li.nav-list-item a.active, li.nav-list-item a:hover {
      font-weight: 900; }
  li.nav-list-item a.home-link {
    height: auto;
    position: relative;
    margin-bottom: 12px;
    padding: 36px;
    font-weight: 900; }
    li.nav-list-item a.home-link h1.home-title {
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 32px;
      font-weight: 900;
      line-height: 1.4; }
    li.nav-list-item a.home-link p.home-subtitle {
      margin-top: 12px;
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2; }

/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

/* 圆角
 --------------------------------------------------*/
/* Font
 --------------------------------------------------*/
#topbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10px;
  background: #0A0A0A;
  z-index: 99999; }
  #topbar .topbar-wrapper {
    box-sizing: border-box;
    width: 800px;
    height: 10px;
    margin: 0 auto;
    padding-left: 732px; }
    #topbar .topbar-wrapper::after {
      content: '';
      position: fixed;
      top: 0;
      width: 68px;
      height: 10px;
      background: #B69676; }

#container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  min-height: 100vh; }

#content {
  box-sizing: content-box;
  width: 732px;
  min-height: 100vh;
  padding: 10px 0; }

h1.blog-title {
  min-width: 270px;
  margin: 0 0 .1em;
  font-size: 500%;
  font-weight: 800;
  font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
  line-height: 1.1;
  letter-spacing: -.06em;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  color: #0A0A0A; }

ul.index-list {
  list-style: none;
  margin: 0;
  padding: 0; }

li.index-item-wrapper {
  box-sizing: border-box; }

a.index-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 21px;
  padding: 21px 0;
  text-decoration: none; }
  a.index-item h2 {
    margin: 0 0 10px;
    font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
    font-size: 24px;
    font-weight: 700;
    color: #0A0A0A; }
    a.index-item h2:hover, a.index-item h2:active {
      text-decoration: underline; }
  a.index-item span {
    color: #7d7d7d; }

.archive h2.archive-year {
  margin: 0 21px;
  padding: 30px 0;
  border-bottom: 1px solid #E2E2E2;
  font-size: 24px;
  font-weight: 700;
  font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
  line-height: 1.4;
  color: #B69676; }

a.archive-link {
  text-decoration: none; }
  a.archive-link .archive-post-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 21px; }
    a.archive-link .archive-post-item-wrapper .archive-post-item {
      width: 100%;
      padding: 21px 0; }
      a.archive-link .archive-post-item-wrapper .archive-post-item h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
        line-height: 1.2;
        color: #0A0A0A; }
        a.archive-link .archive-post-item-wrapper .archive-post-item h2:hover, a.archive-link .archive-post-item-wrapper .archive-post-item h2:active {
          text-decoration: underline; }
      a.archive-link .archive-post-item-wrapper .archive-post-item .post-time {
        margin: 12px 0 0;
        color: #4a4a4a; }

.categories {
  padding: 0 21px; }
  .categories * {
    margin: 0;
    padding: 0; }
  .categories h2.categories-banner {
    padding: 21px 0;
    font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
    font-size: 32px; }
  .categories .categories-content ul.categories-list {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    list-style: none; }
    .categories .categories-content ul.categories-list a.categories-item {
      position: relative;
      margin: 0 12px 12px 0;
      padding: 2px 24px;
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 24px;
      color: #0A0A0A;
      text-decoration: none; }
      .categories .categories-content ul.categories-list a.categories-item:before, .categories .categories-content ul.categories-list a.categories-item:after {
        position: absolute;
        top: 0;
        color: #E2E2E2; }
      .categories .categories-content ul.categories-list a.categories-item:before {
        content: '@';
        left: 0; }
      .categories .categories-content ul.categories-list a.categories-item:after {
        right: 0; }
      .categories .categories-content ul.categories-list a.categories-item:hover .categories-name, .categories .categories-content ul.categories-list a.categories-item:active .categories-name {
        text-decoration: underline; }
      .categories .categories-content ul.categories-list a.categories-item h3.categories-name {
        display: inline-block;
        font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
        font-size: 24px;
        font-weight: 700; }
      .categories .categories-content ul.categories-list a.categories-item .categories-count {
        margin-left: 5px;
        font-size: 14px;
        color: #B69676;
        text-decoration: none; }
  .categories .categories-content ul.category-list {
    padding-top: 21px;
    list-style: none; }
    .categories .categories-content ul.category-list a.category-item {
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 24px;
      color: #0A0A0A;
      text-decoration: none; }
      .categories .categories-content ul.category-list a.category-item:hover .category-item-title, .categories .categories-content ul.category-list a.category-item:active .category-item-title {
        text-decoration: underline; }
      .categories .categories-content ul.category-list a.category-item li.category-item-wrapper {
        display: inline-block;
        position: relative;
        margin: 0 12px 12px 0;
        padding: 2px 24px; }
        .categories .categories-content ul.category-list a.category-item li.category-item-wrapper:before, .categories .categories-content ul.category-list a.category-item li.category-item-wrapper:after {
          position: absolute;
          top: 0;
          color: #E2E2E2; }
        .categories .categories-content ul.category-list a.category-item li.category-item-wrapper:before {
          content: '@';
          left: 0; }
        .categories .categories-content ul.category-list a.category-item li.category-item-wrapper:after {
          right: 0; }
      .categories .categories-content ul.category-list a.category-item h3.category-item-title {
        display: inline-block;
        font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
        font-size: 24px;
        font-weight: 700; }
      .categories .categories-content ul.category-list a.category-item .category-item-time {
        margin-left: 7px;
        font-size: 14px;
        color: #B69676;
        text-decoration: none; }

.tags {
  padding: 0 21px; }
  .tags * {
    margin: 0;
    padding: 0; }
  .tags h2.tags-banner {
    padding: 21px 0;
    font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
    font-size: 32px; }
  .tags .tags-content ul.tags-list {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    list-style: none; }
    .tags .tags-content ul.tags-list a.tags-item {
      position: relative;
      margin: 0 12px 12px 0;
      padding: 2px 18px;
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 24px;
      color: #0A0A0A;
      text-decoration: none; }
      .tags .tags-content ul.tags-list a.tags-item:before, .tags .tags-content ul.tags-list a.tags-item:after {
        position: absolute;
        top: 0;
        color: #E2E2E2; }
      .tags .tags-content ul.tags-list a.tags-item:before {
        content: '#';
        left: 0; }
      .tags .tags-content ul.tags-list a.tags-item:after {
        right: 0; }
      .tags .tags-content ul.tags-list a.tags-item:hover .tags-name, .tags .tags-content ul.tags-list a.tags-item:active .tags-name {
        text-decoration: underline; }
      .tags .tags-content ul.tags-list a.tags-item .tags-name {
        font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
        font-weight: 700; }
      .tags .tags-content ul.tags-list a.tags-item .tags-count {
        margin-left: 5px;
        font-size: 14px;
        color: #B69676;
        text-decoration: none; }
  .tags .tags-content ul.tag-list {
    padding-top: 21px;
    list-style: none; }
    .tags .tags-content ul.tag-list a.tag-item {
      font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
      font-size: 24px;
      color: #0A0A0A;
      text-decoration: none; }
      .tags .tags-content ul.tag-list a.tag-item:hover .tag-item-title, .tags .tags-content ul.tag-list a.tag-item:active .tag-item-title {
        text-decoration: underline; }
      .tags .tags-content ul.tag-list a.tag-item li {
        display: inline-block;
        position: relative;
        margin: 0 12px 12px 0;
        padding: 2px 24px; }
        .tags .tags-content ul.tag-list a.tag-item li:before, .tags .tags-content ul.tag-list a.tag-item li:after {
          position: absolute;
          top: 0;
          color: #E2E2E2; }
        .tags .tags-content ul.tag-list a.tag-item li:before {
          content: '#';
          left: 0; }
        .tags .tags-content ul.tag-list a.tag-item li:after {
          right: 0; }
      .tags .tags-content ul.tag-list a.tag-item h3.tag-item-title {
        display: inline-block;
        font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
        font-size: 24px;
        font-weight: 700; }
      .tags .tags-content ul.tag-list a.tag-item .tag-item-time {
        margin-left: 7px;
        font-size: 14px;
        color: #B69676;
        text-decoration: none; }

.post-title {
  margin: 0 21px;
  padding: 21px 0 12px;
  font-family: "源樣明體", "GenYoMin TW", "源樣明體 TTF";
  font-weight: 700;
  font-size: 32px;
  color: #0A0A0A; }

.post-time, .post-updated {
  color: #7d7d7d;
  margin: 12px 21px; }

.post-info {
  display: flex;
  align-items: baseline;
  margin: 12px 21px; }
  .post-info a {
    padding: 2px 5px;
    margin-right: 5px;
    border: 1px solid #B69676;
    border-radius: 3px;
    background: #FFFFFF;
    color: #B69676;
    text-decoration: none; }
    .post-info a:hover, .post-info a:active {
      background: #B69676;
      color: #FFFFFF; }
  .post-info .post-categories a:before,
  .post-info .post-tags a:before {
    margin-right: 1px; }
  .post-info .post-categories a:before {
    content: '@'; }
  .post-info .post-tags a:before {
    content: '#'; }

/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

.post-content {
  padding: 0 21px;
  font-size: 16px;
  line-height: 2; }
  .post-content strong {
    font-weight: 900; }
  .post-content em {
    font-style: italic; }
  .post-content > p, .post-content > pre, .post-content > figure, .post-content > dl {
    margin: 0 0 12px; }
  .post-content a {
    color: #B69676; }
    .post-content a:hover, .post-content a:active {
      text-decoration: underline; }
  .post-content blockquote {
    margin: 18px 0 16px;
    padding-left: 15px;
    position: relative;
    font-style: italic;
    word-wrap: break-word;
    border-left: 3px solid #B69676; }
  .post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 3px; }
  .post-content hr {
    width: 50%;
    margin: 30px auto;
    border: none;
    overflow: visible; }
    .post-content hr:after {
      content: '';
      display: block;
      border-top: 1px solid #E2E2E2;
      margin: 0 3px;
      position: relative;
      top: 1px; }
  .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    font-family: "源流明體", "GenRyuMin TW", "源流明體 TTF", Noto Serif TC, Noto Serif SC, serif;
    font-weight: 700; }
    .post-content h1 a.header-anchor, .post-content h2 a.header-anchor, .post-content h3 a.header-anchor, .post-content h4 a.header-anchor, .post-content h5 a.header-anchor, .post-content h6 a.header-anchor {
      position: absolute;
      left: -.35em;
      margin-right: 4px;
      text-decoration: none;
      color: #B69676;
      transform: scale(0.85);
      opacity: 0.85; }
    .post-content h1:hover a.header-anchor, .post-content h2:hover a.header-anchor, .post-content h3:hover a.header-anchor, .post-content h4:hover a.header-anchor, .post-content h5:hover a.header-anchor, .post-content h6:hover a.header-anchor {
      opacity: 1; }
  .post-content h1 {
    margin: 21px 0 12px;
    font-size: 32px; }
  .post-content h2 {
    margin: 21px 0 9px;
    font-size: 28px; }
  .post-content h3 {
    margin: 18px 0 9px;
    font-size: 24px; }
  .post-content h4 {
    margin: 18px 0 7px;
    font-size: 20px; }
  .post-content h5 {
    margin: 15px 0 7px;
    font-size: 16px; }
  .post-content h6 {
    margin: 15px 0 4px;
    font-size: 12px; }
  .post-content > table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 12px;
    border-collapse: collapse; }
    .post-content > table thead {
      background: #F9F7F4; }
    .post-content > table thead th, .post-content > table thead td, .post-content > table tbody th, .post-content > table tbody td {
      padding: 3px 5px; }
    .post-content > table thead th, .post-content > table tbody th {
      color: #B69676;
      font-weight: 700;
      border-bottom: 2px solid #B69676; }
    .post-content > table thead td, .post-content > table tbody td {
      border-top: 1px solid #B69676; }
  .post-content > p > code {
    box-sizing: border-box;
    margin: 0 2px;
    padding: 2px 4px;
    border: 1px solid #B69676;
    border-radius: 3px;
    background: #F9F7F4;
    font-family: "Fira Mono", "Fira Code", "Source Code Pro", "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.9em;
    color: #3B2D23; }
  .post-content > pre {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #B69676;
    border-radius: 3px;
    background: #F9F7F4;
    line-height: 1.5; }
    .post-content > pre > code {
      background: transparent;
      font-family: "Fira Mono", "Fira Code", "Source Code Pro", "Roboto Mono", Monaco, courier, monospace; }
  .post-content figure.highlight {
    line-height: 1.5; }
    .post-content figure.highlight table {
      width: 100%;
      border: 1px solid #B69676;
      border-radius: 3px;
      background: #F9F7F4; }
      .post-content figure.highlight table pre {
        margin: 0; }
      .post-content figure.highlight table td.gutter {
        width: 31px;
        border-right: 1px solid #B69676;
        text-align: center; }
        .post-content figure.highlight table td.gutter pre {
          color: #B69676; }
    .post-content figure.highlight .hljs {
      background: transparent;
      font-family: "Fira Mono", "Fira Code", "Source Code Pro", "Roboto Mono", Monaco, courier, monospace;
      color: #0A0A0A; }
  .post-content mark {
    padding: 0 3px;
    background-color: #F1EAE4;
    color: #0A0A0A; }
  .post-content abbr {
    margin: 0 2px;
    padding: 2px 4px;
    border: 1px dashed #B69676;
    border-radius: 3px;
    font-size: 0.9em;
    text-decoration: none;
    background: #F9F7F4;
    cursor: pointer; }
  .post-content dl dt {
    font-weight: 700; }
  .post-content kbd {
    display: inline-block;
    margin: 0 1px;
    padding: 1px 4px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    background: #FFFFFF;
    font: 11px "Fira Mono", "Fira Code", "Source Code Pro", "Roboto Mono", Monaco, courier, monospace;
    color: #0A0A0A;
    line-height: 1.4;
    text-shadow: 0 1px 0 #FFFFFF;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #FFFFFF inset; }

#paginator {
  width: 100%; }

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  margin: 0 21px;
  padding: 21px 0; }
  .paginator a.prev, .paginator a.next {
    position: relative;
    width: 50%;
    line-height: 1.5;
    font-size: 16px;
    color: #B69676;
    overflow: hidden;
    transition: box-shadow .2s ease; }
    .paginator a.prev span, .paginator a.next span {
      display: block; }
  .paginator a.prev {
    text-align: left; }
  .paginator a.next {
    text-align: right; }

#comments {
  box-sizing: border-box;
  padding: 0 21px; }

@media screen and (min-width: 732px) {
  #comments {
    width: 732px; } }

#gitalk-container a,
#gitalk-container a.gt-link-counts,
#gitalk-container a.gt-header-controls-tip,
#gitalk-container a.gt-comment-username {
  color: #B69676 !important; }

#gitalk-container a.gt-link {
  border-bottom: 1px dotted #B69676 !important; }

#gitalk-container .gt-btn-login {
  border-color: #B69676 !important;
  background-color: #B69676 !important; }

#gitalk-container .gt-btn-preview {
  border-color: #B69676 !important;
  color: #B69676 !important; }

#gitalk-container .gt-comment-content {
  background: #F9F7F4 !important; }

#gitalk-container svg,
#gitalk-container .gt-svg {
  fill: #B69676 !important; }

/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  padding: 20px 0 50px 0;
  text-align: right;
  color: #303030; }
  footer * {
    margin: 0;
    padding: 0; }

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 36px; }

footer a, footer a:link {
  color: #303030;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
  transition: .2s ease-in-out; }
  footer a:hover, footer a:active, footer a:link:hover, footer a:link:active {
    color: #B69676;
    text-decoration: underline; }

.copyright {
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

.footer-copyright-year {
  display: inline-block;
  margin-right: 3px;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300; }

.footer-copyright-within {
  display: inline-block;
  margin: 0 3px;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-size: inherit;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .footer-copyright-within:before {
    content: "🐺"; }

.powered-by, .theme, .more {
  display: inline-block;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300; }
  .powered-by a, .powered-by a:link, .theme a, .theme a:link, .more a, .more a:link {
    font-family: inherit;
    padding: 0 5px; }
