doctype
html(lang=config.language)
  head
    include _components/head
  body
    #topbar
      .topbar-wrapper
    header#header
      include _components/nav
    #container
      #content
        block container
        block paginator
        block comments
    footer#footer
      block footer
    
    include _components/scripts
      
