@charset "utf-8";

/* 路径
 ----------------------------------------------------------*/


/* 配色
 ----------------------------------------------------------*/
// theme
$theme-color: #02A8FE;
// coffee
$coffee-dark-2: #190f05;
$coffee-dark-1: #45290c;
$coffee: #704214;
$coffee-light-1: #73553c;
$coffee-light-2: #877f6a;
$coffee-light-3: #afa790;
$coffee-light-4: #f3eacb;
$coffee-light-5: #f8f2e0;
$coffee-light-6: #fdfbf4;

$black: #111111;





/* 布局
 ----------------------------------------------------------*/


/* 字体
 ----------------------------------------------------------*/


/* 其他
 ----------------------------------------------------------*/

// Selection
::-moz-selection {
	color: $coffee-light-4;
  background: $coffee;
}
::-webkit-selection {
	color: $coffee-light-4;
  background: $coffee;
}
::selection {
	color: $coffee-light-4;
  background: $coffee;
}


// Placeholder
::-webkit-input-placeholder { /* WebKit browsers */
  color: $coffee-light-3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $coffee-light-3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $coffee-light-3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $coffee-light-3;
}
