@charset "UTF-8";
/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #f3eacb;
  background: #704214; }

::-webkit-selection {
  color: #f3eacb;
  background: #704214; }

::selection {
  color: #f3eacb;
  background: #704214; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #afa790; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #afa790; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #afa790; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #afa790; }

/* 圆角
 --------------------------------------------------*/
/* Font
 --------------------------------------------------*/
section.container {
  min-width: 270px; }

.logo {
  display: block;
  padding-top: calc((24vh - 64px)/2); }
  .logo a.logo-link, .logo a.logo-link img {
    display: block;
    width: calc(50vh);
    margin: 0 auto; }

@media screen and (max-width: 360px) {
  .logo a.logo-link, .logo a.logo-link img {
    width: 100%; } }
h1.blog-title {
  min-width: 270px;
  margin: 0 0 .1em;
  font-size: 500%;
  font-weight: 800;
  font-family: 'Source Sans Pro', "Microsoft Yahei", 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: -.06em;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  color: #704214; }

.archive {
  padding: 36px 0; }

h1.archive-title {
  border-bottom: 2px solid #45290c;
  margin-bottom: .5em;
  font-size: 500%;
  font-weight: 900;
  letter-spacing: -.05em;
  line-height: 1.2;
  color: #45290c; }

.archive h2.archive-year {
  margin: 1em 0 .5em;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Source Sans Pro', "Microsoft Yahei", 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: .05em;
  color: #877f6a; }
  .archive h2.archive-year .archive-arab-year:before {
    content: '・'; }

.archive .post-item {
  position: relative;
  padding-left: 4em;
  padding-right: 54px; }

.archive .post-time {
  position: absolute;
  right: 0;
  bottom: 7px;
  margin-top: -14px;
  color: #877f6a; }

.archive a.post-title-link {
  font-size: 300%;
  font-weight: 700;
  font-family: 'Source Sans Pro', "Microsoft Yahei", 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: #704214; }
  .archive a.post-title-link:hover, .archive a.post-title-link:active {
    text-decoration: underline; }

.post {
  padding-top: 1em; }

.post-block .post-title {
  margin: 0.65em 0;
  color: #190f05;
  font-weight: 700;
  font-size: 240%; }
.post-block .post-time, .post-block .post-updated {
  color: #877f6a;
  margin: 1.2em 0; }

/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #f3eacb;
  background: #704214; }

::-webkit-selection {
  color: #f3eacb;
  background: #704214; }

::selection {
  color: #f3eacb;
  background: #704214; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #afa790; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #afa790; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #afa790; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #afa790; }

.post-content {
  font-size: 16px; }
  .post-content * {
    color: #704214; }
  .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    position: relative;
    margin: 1em 0; }
    .post-content h1:before, .post-content h2:before, .post-content h3:before, .post-content h4:before, .post-content h5:before, .post-content h6:before {
      content: "#";
      color: #45290c;
      position: absolute;
      left: -0.7em;
      top: -4px;
      font-size: 1.2em;
      font-weight: bold; }
  .post-content h1 {
    font-size: 26px; }
  .post-content h2, .post-content h3 {
    font-size: 22px; }
  .post-content h4, .post-content h5, .post-content h6 {
    font-size: 18px; }
  .post-content strong {
    font-weight: bolder; }
  .post-content em {
    font-style: italic; }
  .post-content a {
    color: #190f05; }
    .post-content a:hover, .post-content a:active {
      text-decoration: underline; }
  .post-content blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #45290c; }
  .post-content img {
    display: block;
    max-width: 100%;
    margin: 1em auto; }
  .post-content .tip {
    position: relative;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fdfbf4; }
    .post-content .tip br {
      display: none; }
  .post-content .tip:before {
    position: absolute;
    top: 14px;
    left: -12px;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f66;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; }

.post-content code {
  color: #111111;
  font-size: 0.8em;
  font-family: 'Source Code Pro', 'Roboto Mono', Monaco, courier, monospace; }

.post-content pre {
  font-size: 0.8em;
  background-color: #fdfbf4;
  font-family: 'Source Code Pro', 'Roboto Mono', Monaco, courier, monospace; }

.post-content .highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #fdfbf4;
  overflow-x: auto; }
  .post-content .highlight table, .post-content .highlight tr, .post-content .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  .post-content .highlight .gutter {
    display: none; }
  .post-content .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.js .code:after {
  content: "JS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

.highlight.swift .code:after {
  content: "SWIFT"; }

.highlight.ruby .code:after {
  content: "RUBY"; }

.highlight.perl .code:after {
  content: "PERL"; }

.highlight.php .code:after {
  content: "PHP"; }

.highlight.c .code:after {
  content: "C"; }

.highlight.java .code:after {
  content: "JAVA"; }

pre {
  color: #525252; }
  pre .function .keyword,
  pre .constant {
    color: #0092db; }
  pre .keyword,
  pre .attribute {
    color: #e96900; }
  pre .number,
  pre .literal {
    color: #ae81ff; }
  pre .tag,
  pre .tag .title,
  pre .change,
  pre .winutils,
  pre .flow,
  pre .lisp .title,
  pre .clojure .built_in,
  pre .nginx .title,
  pre .tex .special {
    color: #2973b7; }
  pre .symbol,
  pre .symbol .string,
  pre .value,
  pre .regexp {
    color: #704214; }
  pre .title {
    color: #83B917; }
  pre .tag .value,
  pre .string,
  pre .subst,
  pre .haskell .type,
  pre .preprocessor,
  pre .ruby .class .parent,
  pre .built_in,
  pre .sql .aggregate,
  pre .django .template_tag,
  pre .django .variable,
  pre .smalltalk .class,
  pre .javadoc,
  pre .django .filter .argument,
  pre .smalltalk .localvars,
  pre .smalltalk .array,
  pre .attr_selector,
  pre .pseudo,
  pre .addition,
  pre .stream,
  pre .envvar,
  pre .apache .tag,
  pre .apache .cbracket,
  pre .tex .command,
  pre .prompt {
    color: #704214; }
  pre .comment,
  pre .java .annotation,
  pre .python .decorator,
  pre .template_comment,
  pre .pi,
  pre .doctype,
  pre .shebang,
  pre .apache .sqbracket,
  pre .tex .formula {
    color: #b3b3b3; }
  pre .deletion {
    color: #BA4545; }
  pre .coffeescript .javascript,
  pre .javascript .xml,
  pre .tex .formula,
  pre .xml .javascript,
  pre .xml .vbscript,
  pre .xml .css,
  pre .xml .cdata {
    opacity: 0.5; }

.paginator a.prev, .paginator a.next {
  padding: 7px 14px;
  margin: 0 14px;
  border-radius: 4px;
  border-bottom: 4px solid #190f05;
  background: #704214;
  letter-spacing: .05em;
  color: #f3eacb; }
  .paginator a.prev:hover, .paginator a.prev:active, .paginator a.next:hover, .paginator a.next:active {
    background: #45290c; }

/*# sourceMappingURL=container.css.map */
