@charset "UTF-8";
/* 路径
 ----------------------------------------------------------*/
/* 配色
 ----------------------------------------------------------*/
/* 布局
 ----------------------------------------------------------*/
/* 字体
 ----------------------------------------------------------*/
@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源樣明體';
  src: url("../fonts/源樣明體/GenYoMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-SemiBold.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: '源流明體';
  src: url("../fonts/源流明體/GenRyuMinTW-Heavy.ttf");
  font-weight: 900; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: '源雲明體';
  src: url("../fonts/源雲明體/GenWanMinTW-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: '台湾教育部隶书';
  src: url("../fonts/臺灣教育部體/eduLi.ttf"); }

@font-face {
  font-family: '台湾教育部楷书';
  src: url("../fonts/臺灣教育部體/eduKai.ttf"); }

@font-face {
  font-family: '台湾教育部宋体';
  src: url("../fonts/臺灣教育部體/eduSong.ttf"); }

/* 其他
 ----------------------------------------------------------*/
::-moz-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::selection {
  color: #FFFFFF;
  background: #0A0A0A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0A0A0A; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A0A0A; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A0A0A; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0A0A0A; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  padding: 20px 0 50px 0;
  text-align: right;
  color: #303030; }
  footer * {
    margin: 0;
    padding: 0; }

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 36px; }

footer a, footer a:link {
  color: #303030;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
  transition: .2s ease-in-out; }
  footer a:hover, footer a:active, footer a:link:hover, footer a:link:active {
    color: #B69676;
    text-decoration: underline; }

.copyright {
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

.footer-copyright-year {
  display: inline-block;
  margin-right: 3px;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300; }

.footer-copyright-within {
  display: inline-block;
  margin: 0 3px;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-size: inherit;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .footer-copyright-within:before {
    content: "🐺"; }

.powered-by, .theme, .more {
  display: inline-block;
  font-family: PingFang TC, PingFang SC, Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300; }
  .powered-by a, .powered-by a:link, .theme a, .theme a:link, .more a, .more a:link {
    font-family: inherit;
    padding: 0 5px; }
